<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportLibrary.Properties.Settings.CARSConnectionString"
            connectionString="Data Source=pr-sql02;Initial Catalog=CARS;Persist Security Info=True;user id=svc_carsuser; Password=M@Tt3R;"
            providerName="System.Data.SqlClient" />
     <!-- "Data Source=pr-sql02;Initial Catalog=CARS;Persist Security Info=True;user id=svc_carsuser; Password=M@Tt3R;"-->
    </connectionStrings>
</configuration>